.hero-color-text {
    color: var(--hero-color-font);
}

.hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (min-width: 480px) {
    .hero-text {
        // font-size: 26px;
        // line-height: 1.62;   
    }
}

@media screen and (min-width: 768px) {
    .hero-text {
        // font-size: 26px;
        // line-height: 1.62;   
    }
}

@media screen and (min-width: 1200px) {
    .hero-text {
        font-size: 44px;
        line-height: 1.36;   
    }
}


.hero-align {
    margin-bottom: 30px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}