/* Кнопка */
.contact-form-submit-btn {
    display: flex;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-color-font);
    border: none;

    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 52px;

    background: var(--second-color-font);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: var(--color-btn-form);
    }
}