.container {
    padding-left: 15px;
    padding-right: 15px;
}

// .section2 {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     min-width: 100%;
// }

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}


// .section2 {
//     padding-top: 60px;
//     padding-bottom: 60px;

//     background-color: yellow;
// }

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .section2 {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}










// Було

// .container {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }